.text-hide{
  @include text-hide;
}
.height-auto{
  height: auto;
}
@include media-breakpoint-up(lg){
  .w-lg-20{
    width: 20% !important;
  }
}
.circle-size-m{
  width: 100px;
  height: 100px;
}
.cursor-pointer{
  cursor: pointer;
}