.logo{
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/petpet-week8/logo.svg');
  width: 121px;
  height: 55px;
}
.navbar-toggler{
  right: 15px;
  top: 12px;
}
.active{
  color:$warning !important;
}